
<nav class="navbar navbar-expand-lg navbar-dark bg-info">

	<div class="container-fluid">
		<div class="navbar-header">
			<%= link_to "Hollywood East", root_path, class: "navbar-brand" %>
		</div>
	</div>

 </nav>